.Home{
    width:100%;
    height: 100vh;
   background: url(./assets/home-bg.jpg) repeat scroll center center/cover;
/* display: flex;
align-items: center;
justify-content: center; */
}
.Container{
    display: flex;
    align-items: center;
    max-width: 720px;
    background-color: red;
    justify-content: center;
    align-self: center;
    width: 100%;
    /* height: 100vh; */
}