html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.Home {
  width: 100%;
  height: 100vh;
  background: url(./assets/home-bg.jpg) repeat scroll center center/cover;
  /* display: flex;
align-items: center;
justify-content: center; */
}
.Container {
  display: flex;
  /* align-items: center; */
  max-width: 1400px;
  /* background-color: red; */
  justify-content: center;
  color: white;
  flex-direction: column;
  /* align-self: center; */
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}
.Container h3 {
  margin-top: 20px;
  letter-spacing: 1px;
}
.SocialLinks {
  margin-top: 20px;
  /* padding: 10px 10px; */
}
.SocialLinks a {
  margin-right: 20px;
  /* margin: 10px 0px; */
  /* padding: 10px 10px; */
}
.About {
  width: 100%;
  /* height: 100vh; */
  background-color: #f7f7f7;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
.topContainer {
  max-width: 1400px;
  /* background-color: blue; */
  /* height: 100vh; */
  width: 100%;
  /* align-self: center; */
  /* padding-top: 10%; */
  /* display: flex; */
  margin-left: auto;
  margin-right: auto;
}
.userInfo {
  display: flex;
  justify-content: space-between;
  /* background-color: blue; */
  flex-direction: row;
  padding-top: 10%;
  width: 100%;
}
.imageView {
  height: 400px;
  width: 30%;
  border: 25px solid #b8a07e;
}
.imageView img {
  margin-top: -60px;
  margin-left: 40px;
}

.userContent {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: green; */
}

.userContent p {
  margin-top: 20px;
  letter-spacing: 2px;
}
.carousel {
  /* width: 100px; */
  /* height: 400px; */
  /* background-color: green; */
  margin-top: 40px;
}
.item {
  /* background-color: red; */
  height: 150px;
  width: 250px;
  color: black;
  margin-bottom: 50px;
}
.item svg {
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
}

.carousel-dot {
  /* background-color: #b8a07e; */
  color: #b8a07e;
}
.Portfolio {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}
.Portfolio .firstdiv {
  padding-top: 40px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  flex-direction: column;
}
.portfolio_category {
  margin-top: 40px;
}

.portfolio_category a {
  margin: 0px 20px;
  color: grey;
}
.grid-container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 2rem;
  padding: 10px;
  /* background-color: red; */
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  height: 300px;
  width: 300px;
  background: url(./assets/home-bg.jpg) repeat scroll center center/cover;
  /* background-color: red; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* padding: 20px; */
  font-size: 30px;
  /* padding: auto auto; */
  /* text-align: center; */
}